@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #f8fafc, #e2e8f0);
  min-height: 100vh;
  color: #1f2937; /* gray-800 */
  font-family: 'Inter', sans-serif;
}
